@media (max-width: 720px) {
  body {
    background-image: url(../images/pattern-background-mobile.svg),
      linear-gradient(hsl(225, 100%, 94%), hsl(225, 100%, 94%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .Change {
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    text-decoration: underline;
  }
  .Proceed {
    background-color: hsl(245, 75%, 52%);
  }
  .Cancel {
    color: hsl(224, 23%, 55%);
  }
}
@media (max-width: 428px) {
  body {
    top: 0;
    /* transform: scale(0.8); */
  }
  main {
    width: 357.953px;
  }
  .img-container {
    height: 175px;
  }
}
