body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background-image: url(../images/pattern-background-desktop.svg),
    linear-gradient(hsl(225, 100%, 94%), hsl(225, 100%, 94%));
  /* background-position: center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: cover; */

  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;

  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 1rem */

  position: relative;
  top: 80px;

  transform: scale(0.9);
}
main {
  background-color: hsl(225, 100%, 98%);
  width: 378.406px;
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
}
.img-container {
  height: 185px;
}
.img-container img {
  height: 100%;
}
.Order-Summary {
  padding: 0 3rem;
  margin-bottom: 2rem;
}
h1 {
  color: hsl(223, 47%, 23%);
  font-size: 1.2rem;
  font-weight: 900;
  margin: 2rem 0 1.5rem;
}
.music {
  background-color: hsla(223, 39%, 91%, 0.466);
  border-radius: 0.6rem;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.music-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.music-icon img {
  background-color: hsl(225, 100%, 94%);
  border-radius: 50%;
  padding: 0.5rem;
  height: 28px;
  width: 28px;
}
.annual {
  display: flex;
  flex-direction: column;
}
.annual-plan {
  color: hsl(223, 47%, 23%);
  font-weight: 700;
}
span {
  color: hsl(224, 23%, 55%);
}
.Change:hover {
  color: hsl(245, 57%, 59%);
  cursor: pointer;
}
P {
  color: hsl(224, 23%, 55%);
  margin: 0;
}
.Proceed {
  background-color: hsl(245, 57%, 59%);
  color: hsl(225, 100%, 98%);
  border-radius: 0.6rem;
  font-weight: 700;
  padding: 0.5rem 0;
  margin: 1.5rem 0 1rem;
  cursor: pointer;
  box-shadow: 0 0.4rem 0.2rem rgba(0, 0, 0, 0.1);
}
.Proceed:hover {
  background-color: hsl(245, 58%, 64%);
}
.Cancel {
  cursor: pointer;
  font-weight: 700;
  color: hsl(223, 47%, 23%);
}
.Cancel:hover {
  color: hsl(224, 23%, 55%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 0;
  margin: 0;

  /* position: fixed; */
  /* bottom: 0; */
}
.attribution a {
  padding: 0;
  margin: 0;
  color: hsl(228, 45%, 44%);
}
